* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #131313;
}

h1,
h2,
h3,
h4 {
  color: #fafafa;
  font-family: "Antonio", sans-serif;
}

p {
  color: #fafafa;
  font-family: "Readex Pro", sans-serif;
}

header {
  padding-top: 30px;
  padding-left: 50px;
  padding-bottom: 10px;
}

.logo {
  position: relative;
  background: url("../image/Riot_Games-Logo.wine.png");
  height: 100px;
  width: 210px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 70%;
}

.nav {
  position: absolute;
  right: 50px;
  display: flex;
  justify-content: flex-end;
}

.link_league,
.link_valorant {
  font-size: 1rem;
  text-decoration: none;
  color: #fafafa;
}

.link_league {
  background-color: #cd2a36;
  margin-right: 70px;
  margin-top: 15px;
  border-radius: 5px;
  font-family: "Readex Pro", sans-serif;
  border: none;
  padding: 15px 30px;
}

.link_valorant {
  margin-right: 50px;
  margin-top: 15px;
  border-radius: 5px;
  font-family: "Readex Pro", sans-serif;
  border: none;
  background-color: #cd2a36;
  padding: 15px 30px;
  transition: 800ms;
}

.link_league:hover {
  transition: 800ms;
  transform: scale(1.05);
  background-color: #136566;
}

.link_valorant:hover {
  transition: 800ms;
  transform: scale(1.05);
  background-color: #ff4553;
}

.first_section {
  background: url("../image/riot-games.jpg") #00000040;
  height: 1060px;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  padding-left: 150px;
  padding-right: 950px;
  margin-bottom: 50px;
}

/* ################################## */
/* ########## ACTUALITÉ ############# */
/* ################################## */

.categories {
  display: flex;
  flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0 80px 0;
}

.second_h2 {
  margin-bottom: 15px;
  padding-top: 50px;
  padding-left: 180px;
  font-size: 5rem;
}

.second_h3 {
  text-shadow: 0px 0px 9px #000000;
  text-align: center;
  font-size: 3.2rem;
  padding-top: 5.8rem;
}

.tft_h3 {
  text-shadow: 0px 0px 9px #000000;
  text-align: center;
  font-size: 3rem;
  padding-top: 4.8rem;
}

.world {
  font-weight: bolder;
  letter-spacing: 1.5px;
  color: #fdf73f;
}

.league_h3 {
  text-shadow: 0px 0px 9px #000000;
  text-align: center;
  font-size: 2.8rem;
  padding-top: 4.8rem;
}

.patch {
  margin: 0 100px 70px 0;
  background: url("../image/Valorant-Ranking-distribution.jpg") #00000043;
  background-blend-mode: darken;
  height: 260px;
  background-size: cover;
  width: 455px;
  background-repeat: no-repeat;
  transition: 800ms;
}

.patch a {
  text-decoration: none;
}

.teamfight {
  margin: 0 100px 70px 0;
  background: url("../image/world-cup-tft.jpg") #0000004a;
  background-blend-mode: darken;
  height: 260px;
  background-size: cover;
  width: 455px;
  background-repeat: no-repeat;
  transition: 800ms;
}

.teamfight a {
  text-decoration: none;
}

.league {
  margin: 0 100px 70px 0;
  background: url("../image/sylas-loup-de-combat.jpg") #00000065;
  background-blend-mode: darken;
  height: 256px;
  background-size: cover;
  width: 455px;
  background-repeat: no-repeat;
  transition: 800ms;
}

.league a {
  text-decoration: none;
}

.disponible {
  font-size: 2.5rem;
  color: #ff4df0;
}

.patch:hover,
.teamfight:hover,
.league:hover {
  transform: scale(1.02);
  transition: 900ms;
}

.patch:hover {
  -webkit-box-shadow: 0px 0px 30px 0px #ff0015;
  box-shadow: 0px 0px 30px 0px #ff0015;
}

.teamfight:hover {
  -webkit-box-shadow: 0px 0px 30px 0px #fff950;
  box-shadow: 0px 0px 30px 0px #fff950;
}

.league:hover {
  -webkit-box-shadow: 0px 0px 30px 0px #ff4df0;
  box-shadow: 0px 0px 30px 0px #ff4df0;
}

.second_section {
  margin-bottom: 30px;
}

.prestige_section {
  margin-top: 100px;
  background: url("../image/jinx-chat-de-combat-prestige.jpg") #00000079;
  background-blend-mode: darken;
  height: 950px;
  background-size: cover;
  background-repeat: no-repeat;
}

.third_h2 {
  font-size: 5rem;
  padding: 115px 0 30px 100px;
}

.prestige {
  padding-left: 10px;
  font-size: 2.5rem;
  font-weight: 800;
  color: #ffec5f;
}

.third_h3 {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 2rem;
  padding-left: 200px;
}

.skin-prestige {
  background: url("../image/jinx-chat-de-combat.jpg") #0000002b;
  background-blend-mode: darken;
  height: 338px;
  width: 600px;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 120px 0 0 150px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px 0px #14e67a;
  box-shadow: 0px 0px 15px 0px #14e67a;
}

footer {
  height: 235px;
  background: #252422;
}

.logo_footer {
  background: url("../image/Riot_Games-Logo.wine.png");
  height: 110px;
  background-size: 200px;
  background-repeat: no-repeat;
  background-position-x: 49.4%;
  margin-bottom: 10px;
}

li {
  line-height: 2.8rem;
  font-family: "Antonio", sans-serif;
  font-size: 1.2rem;
}

li a {
  font-weight: 700;
  margin: 15px;
  letter-spacing: 1.5px;
  text-decoration: none;
  color: #656462;
  transition: 800ms;
}

.link_footer:hover {
  font-weight: 700;
  color: #fafafa;
  transition: 500ms;
  font-size: 1.3rem;
}

.link_ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.copyright {
    font-size: 0.9rem;
    margin-top: 35px;
    text-align: center;
    color: #656462;
    font-weight: 300;
}
