* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #111111;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  color: #fafafa;
  font-family: "Antonio", sans-serif;
}

p {
  color: #fafafa;
  font-family: "Readex Pro", sans-serif;
}

header {
  position: sticky;
  background: #161616;
  padding-top: 15px;
  padding-left: 50px;
  padding-bottom: 0px;
  z-index: 1;
  top: 0;
}

.logo {
  position: relative;
  background: url("../image/Riot-games/Riot_Games-Logo.wine.png");
  height: 100px;
  width: 210px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 65%;
  transition: 800ms;
}

.link_logo {
  padding: 50px 100px 80px;
}

.logo:hover {
  filter: hue-rotate(380deg);
  transition: 1200ms;
  transform: scale(1.05);
}

.nav {
  position: absolute;
  right: 50px;
  display: flex;
  justify-content: flex-end;
}

.link_league,
.link_valorant {
  font-size: 1rem;
  text-decoration: none;
  color: #fafafa;
}

.link_league {
  background-color: #cd2a36;
  margin-right: 70px;
  margin-top: 15px;
  border-radius: 5px;
  font-family: "Readex Pro", sans-serif;
  border: none;
  padding: 15px 30px;
}

.link_valorant {
  margin-right: 50px;
  margin-top: 15px;
  border-radius: 5px;
  font-family: "Readex Pro", sans-serif;
  border: none;
  background-color: #cd2a36;
  padding: 15px 30px;
  transition: 800ms;
}

.link_league:hover {
  transition: 800ms;
  transform: scale(1.05);
  background-color: #136566;
}

.link_valorant:hover {
  transition: 800ms;
  transform: scale(1.05);
  background-color: #ff4553;
}

.welcome {
  text-align: center;
  font-size: 4rem;
  padding: 30px 0;
}

.welcome1 {
  background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(175,25,25,1) 100%);
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
  text-align: center;
  font-size: 4rem;
  padding: 30px 0;
}

.text {
  font-weight: 700;
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
	background-size: 300%;
  text-align: center;
	font-size: 4.5rem;
  -webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated_text 5s ease-in-out infinite;
	-moz-animation: animated_text 5s ease-in-out infinite;
	-webkit-animation: animated_text 5s ease-in-out infinite;
  padding: 30px 0
}

@keyframes animated_text {
  0% {
    background-position: 0px 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0px 50%;
  }
}

.number {
  color: #cd2a36;
}

.number1 {
  color: rgb(255, 255, 255);
}

.first_section {
  background: url("../image/Riot-games/riot-mobile.gif") #00000027;
  height: 880px;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-position-x: center;
  background-position-y: center;
  margin-bottom: 90px;
}

/* ################################## */
/* ########## ACTUALITÉ ############# */
/* ################################## */

.categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 80px 0 80px 0;
}

.second_h2 {
  text-align: center;
  font-size: 5rem;
}

.second_h3 {
  text-shadow: 0px 0px 9px #000000;
  text-align: center;
  font-size: 3rem;
  padding-top: 4.5rem;
}

.tft_h3 {
  text-shadow: 0px 0px 9px #000000;
  text-align: center;
  font-size: 3rem;
  padding-top: 4.8rem;
}

.league_h3 {
  text-shadow: 0px 0px 9px #000000;
  text-align: center;
  font-size: 2.8rem;
  padding-top: 4.8rem;
}

.prime_h3 {
  text-shadow: 0px 0px 9px #000000;
  text-align: center;
  font-size: 2.8rem;
  padding-top: 5.8rem;
}

.patch {
  margin: 0 100px 70px 0;
  background: url("../image/Valorant/Valorant-Ranking-distribution.jpg") #00000043;
  height: 260px;
  background-size: cover;
  width: 455px;
  background-repeat: no-repeat;
  transition: 800ms;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 10px 0px #ffffff7c;
  box-shadow: 0px 0px 15px 0px #ff12127c;
}

.patch a {
  text-decoration: none;
}

.teamfight {
  margin: 0 100px 70px 0;
  background: url("../image/teamfight-tactics/world-cup-tft.jpg") #0000004a;
  background-blend-mode: darken;
  height: 260px;
  background-size: cover;
  width: 455px;
  background-repeat: no-repeat;
  transition: 800ms;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 10px 0px #b27d0267;
  box-shadow: 0px 0px 15px 0px #b27d0267;
}

.teamfight a {
  text-decoration: none;
}

.league {
  margin: 0 0 70px 0;
  background: url("../image/League-of-Legends/sylas-loup-de-combat.jpg") #00000065;
  background-blend-mode: darken;
  height: 256px;
  background-size: cover;
  width: 455px;
  background-repeat: no-repeat;
  transition: 800ms;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 10px 0px #ff4df070;
  box-shadow: 0px 0px 15px 0px #ff4df070;
}

.league a {
  text-decoration: none;
}

.arcana {
  margin: 0 100px 70px 0;
  background: url("../image/League-of-Legends/arcana-skin.jpg") #00000065;
  background-blend-mode: darken;
  height: 256px;
  background-size: cover;
  width: 455px;
  background-repeat: no-repeat;
  transition: 800ms;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 10px 0px #fbe29780;
  box-shadow: 0px 0px 15px 0px #fbe29780;
}

.arcana a {
  text-decoration: none;
}

.msi {
  margin: 0 100px 70px 0;
  background: url("../image/League-of-Legends/MSI-2022-TAKE-NOTES.jpg") #00000063;
  background-blend-mode: darken;
  height: 256px;
  background-size: contain;
  width: 455px;
  background-repeat: no-repeat;
  transition: 800ms;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 10px 0px #a2ffcf5e;
  box-shadow: 0px 0px 15px 0px #a2ffcf91;
}

.msi a {
  text-decoration: none;
}

.primegaming {
  margin: 0 0 70px 0;
  background: url("../image/League-of-Legends/prime-lol.jpg") #0000004f;
  background-blend-mode: darken;
  height: 256px;
  background-size: cover;
  width: 455px;
  background-repeat: no-repeat;
  transition: 800ms;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 10px 0px #8956ff77;
  box-shadow: 0px 0px 15px 0px #8956ff77;
}

.primegaming a {
  text-decoration: none;
}

.valorant-patch {
  font-size: 2.5rem;
  color: #ff5b6b;
}

.disponible {
  font-size: 2.5rem;
  color: #ff4df0;
}

.disponible2 {
  font-size: 2.5rem;
  color: #ffde4d;
}

.world {
  letter-spacing: 1.5px;
  color: #fdc13f;
}

.patch:hover,
.teamfight:hover,
.league:hover,
.arcana:hover,
.msi:hover,
.primegaming:hover {
  transform: scale(1.02);
  transition: 900ms;
}

.patch:hover {
  -webkit-box-shadow: 0px 0px 30px 0px #ff0015;
  box-shadow: 0px 0px 30px 0px #ff0015;
}

.teamfight:hover {
  -webkit-box-shadow: 0px 0px 30px 0px #b27c02;
  box-shadow: 0px 0px 30px 0px #b27c02;
}

.league:hover {
  -webkit-box-shadow: 0px 0px 30px 0px #ff4df0;
  box-shadow: 0px 0px 30px 0px #ff4df0;
}

.arcana:hover {
  -webkit-box-shadow: 0px 0px 30px 0px #fbe297;
  box-shadow: 0px 0px 30px 0px #fbe297;
}

.msi:hover {
  -webkit-box-shadow: 0px 0px 30px 0px #a2ffcf;
  box-shadow: 0px 0px 30px 0px #a2ffcf;
}

.primegaming:hover {
  -webkit-box-shadow: 0px 0px 30px 0px #8856ff;
  box-shadow: 0px 0px 30px 0px #8856ff;
}

/* ################################## */
/* ########## SECTION ############# */
/* ################################## */

.play_section {
  padding: 0px 200px 50px 200px;
}

.play_h2 {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 50px;
}

.legends {
  background: url("../image/League-of-Legends/League-of-Legends-2022.jpg") #0000005d;
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  height: 750px;
  border-radius: 15px;
  box-shadow: 0px 0px 15px 0px #33cfff9c;
  margin-bottom: 150px;
  transition: 800ms;
}

.legends:hover {
  transition: 800ms;
  box-shadow: 0px 0px 40px 0px #1cbef0;
}

.valorant {
  background: url("../image/Valorant/valorant-fond.jpg") #00000046;
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
  border-radius: 15px;
  box-shadow: 0px 0px 15px 0px #ff253b8e;
  margin-bottom: 150px;
  transition: 800ms;
}

.valorant:hover {
  transition: 800ms;
  box-shadow: 0px 0px 40px 0px #fc4759;
}

.runeterra {
  background: url("../image//Runeterra/runeterra.jpg") #0000005d;
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  height: 750px;
  border-radius: 15px;
  box-shadow: 0px 0px 15px 0px #67ffc098;
  transition: 800ms;
  margin-bottom: 150px;
}

.runeterra:hover {
  transition: 800ms;
  box-shadow: 0px 0px 40px 0px #3fb3ac;
}

.tactics {
  background: url("../image//teamfight-tactics/tft-fond.jpg") #00000033;
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  height: 750px;
  border-radius: 15px;
  box-shadow: 0px 0px 15px 0px #c58d32;
  transition: 800ms;
}

.tactics:hover {
  transition: 800ms;
  box-shadow: 0px 0px 40px 0px #ffb641;
}

.youtube {
  border-radius: 15px;
  position: absolute;
  margin-left: 27rem;
  margin-top: 14rem;
}

.button-play {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 1.5px;
  margin-left: 40rem;
  margin-top: 40rem;
  position: absolute;
  background: #337cac6c;
  backdrop-filter: blur(2px);
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  color: #f6f6f6;
  font-family: "Antonio", sans-serif;
  transition: 800ms;
}

.button-play2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 1.5px;
  margin-left: 40rem;
  margin-top: 40rem;
  position: absolute;
  background: #fd2b3c4f;
  backdrop-filter: blur(2px);
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  color: #f6f6f6;
  font-family: "Antonio", sans-serif;
  transition: 800ms;
}

.button-play3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 1.5px;
  margin-left: 40rem;
  margin-top: 40rem;
  position: absolute;
  background: #3fb3ab80;
  backdrop-filter: blur(2px);
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  color: #f6f6f6;
  font-family: "Antonio", sans-serif;
  transition: 800ms;
}

.button-play4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 1.5px;
  margin-left: 40rem;
  margin-top: 40rem;
  position: absolute;
  background: #c58d3271;
  backdrop-filter: blur(2px);
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  color: #f6f6f6;
  font-family: "Antonio", sans-serif;
  transition: 800ms;
}

.button-play:hover {
  transition: 800ms;
  transform: scale(1.05);
  background-color: #0f6d8a;
}

.button-play2:hover {
  transition: 800ms;
  transform: scale(1.05);
  background-color: #ff4553;
}

.button-play3:hover {
  transition: 800ms;
  transform: scale(1.05);
  background-color: #1f8b74;
}

.button-play4:hover {
  transition: 800ms;
  transform: scale(1.05);
  background-color: #c58d32;
}

/* ################################## */
/* ########## FOOTER ############# */
/* ################################## */

footer {
  margin-top: 100px;
  height: 235px;
  background: #252423;
}

.logo_footer {
  background: url("../image/Riot-games/Riot_Games-Logo.wine.png");
  height: 110px;
  background-size: 200px;
  background-repeat: no-repeat;
  background-position-x: 49.4%;
  margin-bottom: 10px;
}

li {
  line-height: 2.8rem;
  font-family: "Antonio", sans-serif;
  font-size: 1.2rem;
}

li a {
  font-weight: 700;
  margin: 15px;
  letter-spacing: 1.5px;
  text-decoration: none;
  color: #656462;
  transition: 800ms;
}

.link_footer:hover {
  font-weight: 700;
  color: #fafafa;
  transition: 500ms;
  font-size: 1.3rem;
}

.link_ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.copyright {
  font-size: 0.9rem;
  margin-top: 35px;
  text-align: center;
  color: #656462;
  font-weight: 300;
}
