* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #131313;
}

h1,
h2,
h3,
h4 {
    color: #fff;
    font-family: "Antonio", sans-serif;
}

p {
    color: #fff;
    font-family: 'Readex Pro', sans-serif;
}

header {
    padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 10px;
}

.logo {
    position: relative;
    background: url("../image/league_of_legends.png");
    height: 100px;
    width: 210px;
    background-size: 200px;
    background-repeat: no-repeat;
}

.nav {
    position: absolute;
    right: 50px;
    display: flex;
    justify-content: flex-end;
}

.link_home,
.link_valorant {
    font-size: 1rem;
    text-decoration: none;
    color: #ececec;
}

.link_home {
    margin-right: 70px;
    margin-top: 15px;
    border-radius: 5px;
    font-family: 'Readex Pro', sans-serif;
    border: none;
    background-color: #136566;
    padding: 15px 30px;
    transition: 800ms;
}

.link_valorant {
    margin-right: 50px;
    margin-top: 15px;
    border-radius: 5px;
    font-family: 'Readex Pro', sans-serif;
    border: none;
    background-color: #136566;
    padding: 15px 30px;
    transition: 800ms;
}

.link_home:hover{
    transition: 800ms;
    transform: scale(1.05);
    background-color: #cd2a36;
}

.link_valorant:hover{
    transition: 800ms;
    transform: scale(1.05);
    background-color: #ff4553;
}

.first_section {
    background: url("../image/lol-skins-section-anima-miss-fortune-lapin-de-combat.jpg") #000000a4;
    height: 800px;
    background-size: 2000px;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    padding-left: 150px;
    padding-right: 950px;
}

.first_h1 {
    margin-left: 20px;
    color: #ececec;
    font-size: 6rem;
    padding-top: 120px;
    margin-bottom: 40px;
}

.first_p{
    font-weight: 300;
}

.second_p {
    font-weight: 300;
    margin-top: 40px;
    
}

.paragraphe {
    padding: 25px 25px;
    border-radius: 10px;
    background-color: #00000063;
    backdrop-filter: blur(4px);
    text-align: justify;
    color: #ececec;
    line-height: 1.6rem;
}

/* ################################## */
/* ########## ACTUALITÉ ############# */
/* ################################## */

.second_h2 {
    margin-bottom: 20px;
    padding-top: 50px;
    padding-left: 90px;
    font-size: 5rem;
}

.second_h3 {
    text-shadow: 0px 0px 9px #000000;
    text-align: center;
    font-size: 3.5rem;
    padding-top: 5.8rem;
}

.lec_h3 {
    text-shadow: 0px 0px 9px #000000;
    text-align: center;
    font-size: 3rem;
    padding-top: 4.5rem;
}

.msi_h3 {
    text-shadow: 0px 0px 9px #000000;
    text-align: center;
    font-size: 3.5rem;
    padding-top: 5.5rem;
}

.patch {
    margin: 50px 50px 0px 150px;
    background: url("../image/arcana-ahri-lol-skin.jpg") #00000080;
    background-blend-mode: darken;
    height: 250px;
    background-size: cover;
    width: 455px;
    background-repeat: no-repeat;
    transition: 800ms;
}

.lec {
    margin: 50px;
    background: url("../image/lec-champions.jpg") #0000007e;
    background-blend-mode: darken;
    height: 250px;
    background-size: cover;
    width: 455px;
    background-repeat: no-repeat;
    transition: 800ms;
}

.msi {
    margin: 50px 0 0 60px;
    background: url("../image/MSI-2022-TAKE-NOTES.jpg") #0000007e;
    background-blend-mode: darken;
    height: 250px;
    background-size: contain;
    width: 445px;
    background-repeat: no-repeat;
    transition: 800ms;
}

.patch:hover,
.lec:hover,
.msi:hover {
    transform: scale(1.022);
    transition: 900ms;
}

.patch:hover {
    -webkit-box-shadow: 0px 0px 20px 0px #fbe297; 
    box-shadow: 0px 0px 20px 0px #fbe297;
}

.lec:hover {
    -webkit-box-shadow: 0px 0px 20px 0px #57e1bf; 
    box-shadow: 0px 0px 20px 0px #57e1bf;
}

.msi:hover {
    -webkit-box-shadow: 0px 0px 20px 0px #74ff97; 
    box-shadow: 0px 0px 20px 0px #74ff97;
}

.second_section {
    margin-bottom: 30px;
}

.categories {
    display: flex;
}

.champion {
    color: #64dfc0;
}