* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #131313;
}

h1,
h2,
h3,
h4 {
  font-family: "Antonio", sans-serif;
}

p {
  font-family: "Readex Pro", sans-serif;
}

header {
  color: #111111;
  padding-top: 40px;
  padding-left: 50px;
  padding-bottom: 20px;
}

.logo {
  position: relative;
  background: url("../image/league_of_legends.png");
  height: 100px;
  width: 210px;
  background-size: 200px;
  background-repeat: no-repeat;
}

.nav {
  position: absolute;
  right: 50px;
  display: flex;
  justify-content: flex-end;
}

.link_home,
.link_valorant {
  font-size: 1rem;
  text-decoration: none;
  color: #fafafa;
}

.link_home {
  margin-right: 70px;
  margin-top: 15px;
  border-radius: 5px;
  font-family: "Readex Pro", sans-serif;
  border: none;
  background-color: #136566;
  padding: 15px 30px;
  transition: 800ms;
}

.link_valorant {
  margin-right: 50px;
  margin-top: 15px;
  border-radius: 5px;
  font-family: "Readex Pro", sans-serif;
  border: none;
  background-color: #136566;
  padding: 15px 30px;
  transition: 800ms;
}

.link_home:hover {
  transition: 800ms;
  transform: scale(1.05);
  background-color: #cd2a36;
}

.link_valorant:hover {
  transition: 800ms;
  transform: scale(1.05);
  background-color: #ff4553;
}

.first_section {
  background: url("../image/lol-skins-section-anima-miss-fortune-lapin-de-combat.jpg")
    #000000a4;
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  padding-left: 150px;
  padding-right: 950px;
  margin-bottom: 50px;
}

.first_h1 {
  margin-left: 20px;
  color: #fafafa;
  font-size: 6rem;
  padding-top: 120px;
  margin-bottom: 40px;
}

.first_p {
  font-weight: 300;
}

.second_p {
  font-weight: 300;
  margin-top: 40px;
}

.paragraphe {
  padding: 25px 25px;
  border-radius: 10px;
  background-color: #00000063;
  backdrop-filter: blur(4px);
  text-align: justify;
  color: #fafafa;
  line-height: 1.6rem;
}

/* ################################## */
/* ########## ACTUALITÉ ############# */
/* ################################## */

.categories {
  display: flex;
  flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0 80px 0;
}

.second_h2 {
  color: #fafafa;
  margin-bottom: 15px;
  padding-top: 50px;
  padding-left: 180px;
  font-size: 5rem;
}

.second_h3 {
  color: #fafafa;
  text-shadow: 0px 0px 9px #000000;
  text-align: center;
  font-size: 3.2rem;
  padding-top: 5.8rem;
}

.lec_h3 {
  color: #fafafa;
  text-shadow: 0px 0px 9px #000000;
  text-align: center;
  font-size: 3rem;
  padding-top: 4.5rem;
}

.msi_h3 {
  color: #fafafa;
  text-shadow: 0px 0px 9px #000000;
  text-align: center;
  font-size: 3rem;
  padding-top: 5.2rem;
}

.patch {
  margin: 0 100px 70px 0;
  background: url("../image/arcana-ahri-lol-skin.jpg") #00000077;
  background-blend-mode: darken;
  height: 260px;
  background-size: cover;
  width: 455px;
  background-repeat: no-repeat;
  transition: 800ms;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 10px 0px #fbe29783;
  box-shadow: 0px 0px 15px 0px #fbe29783;
}

.lec {
  margin: 0 100px 70px 0;
  background: url("../image/lec-champions.jpg") #00000071;
  background-blend-mode: darken;
  height: 260px;
  background-size: cover;
  width: 455px;
  background-repeat: no-repeat;
  transition: 800ms;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 10px 0px #57e1be98;
  box-shadow: 0px 0px 15px 0px #57e1be98;
}

.msi {
  margin: 0 100px 70px 0;
  background: url("../image/MSI-2022-TAKE-NOTES.jpg") #00000063;
  background-blend-mode: darken;
  height: 256px;
  background-size: contain;
  width: 455px;
  background-repeat: no-repeat;
  transition: 800ms;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 10px 0px #a2ffcf5e;
  box-shadow: 0px 0px 15px 0px #a2ffcf5e;
}

.patch a,
.lec a,
.msi a {
  text-decoration: none;
}

.patch:hover,
.lec:hover,
.msi:hover {
  transform: scale(1.020);
  transition: 900ms;
}

.patch:hover {
  -webkit-box-shadow: 0px 0px 30px 0px #fbe297;
  box-shadow: 0px 0px 30px 0px #fbe297;
}

.lec:hover {
  -webkit-box-shadow: 0px 0px 30px 0px #57e1bf;
  box-shadow: 0px 0px 30px 0px #57e1bf;
}

.msi:hover {
  -webkit-box-shadow: 0px 0px 30px 0px #a2ffcf;
  box-shadow: 0px 0px 30px 0px #a2ffcf;
}

.second_section {
  margin-bottom: 30px;
}

.champion {
  color: #64dfc0;
}

.prestige_section {
  margin-top: 100px;
  background: url("../image/jinx-chat-de-combat-prestige.jpg") #00000079;
  background-blend-mode: darken;
  height: 950px;
  background-size: cover;
  background-repeat: no-repeat;
}

.third_h2 {
  color: #fafafa;
  font-size: 5rem;
  padding: 115px 0 30px 100px;
}

.prestige {
  padding-left: 10px;
  font-size: 2.5rem;
  font-weight: 800;
  color: #ffec5f;
}

.third_h3 {
  display: flex;
  align-items: center;
  font-weight: 500;
  color: #fafafa;
  font-size: 2rem;
  padding-left: 200px;
}

.skin-prestige {
  padding: 80px 100px;
}

.youtube {
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px #ffe136;
}

.skin {
  color: #ffffff;
  font-size: 2rem;
  text-align: center;
  padding-top: 280px;
}

footer {
  height: 235px;
  background: #252423;
}

.logo_footer {
  background: url("../image/Riot_Games-Logo.wine.png");
  height: 110px;
  background-size: 200px;
  background-repeat: no-repeat;
  background-position-x: 49.4%;
  margin-bottom: 10px;
}

li {
  line-height: 2.8rem;
  font-family: "Antonio", sans-serif;
  font-size: 1.2rem;
}

li a {
  font-weight: 700;
  margin: 15px;
  letter-spacing: 1.5px;
  text-decoration: none;
  color: #656462;
  transition: 800ms;
}

.link_footer:hover {
  font-weight: 700;
  color: #fafafa;
  transition: 500ms;
  font-size: 1.3rem;
}

.link_ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.copyright {
    font-size: 0.9rem;
    margin-top: 35px;
    text-align: center;
    color: #656462;
    font-weight: 300;
}

@media only screen and (max-width: 1600px){
  .first_section {
  padding-left: 150px;
  padding-right: 750px;
  margin-bottom: 50px;
}
}