{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('profil') }}
{% endblock %}

{% block title %}League of Legends{% endblock %}

{% block body %}

{% endblock %}

{% block header %}
<nav class="nav">
<a class="link_home" href={{ path('app_home')}}>Riot</a>
<a class="link_valorant" href={{ path('app_home')}}>Valorant</a>
</nav>
    <div class="logo"></div>
   
{% endblock %}

{% block main %}
<section class="first_section">
    <h1 class="first_h1">LEAGUE //</h1>
    <div class="paragraphe">
    <p class="first_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Magna etiam tempor orci eu. Vulputate ut pharetra sit amet. Aliquam etiam erat velit scelerisque dictum non. Scelerisque viverra mauris in aliquam sem fringilla ut morbi. Urna condimentum mattis pellentesque id nibh tortor id aliquet. Sem integer vitae justo eget magna. Euismod elementum nisi quis eleifend quam. Diam vulputate ut pharetra sit amet aliquam id. Rhoncus est pellentesque elit ullamcorper dignissim.</p>

    <p class="second_p">Placerat duis ultricies lacus sed turpis tincidunt. Pulvinar elementum integer enim neque volutpat ac. Semper eget duis at tellus at urna condimentum mattis pellentesque. Nisi lacus sed viverra tellus in. Diam phasellus vestibulum lorem sed risus. Quam lacus suspendisse faucibus interdum. Et odio pellentesque diam volutpat commodo sed egestas. Velit egestas dui id ornare arcu odio ut. Turpis egestas sed tempus urna et pharetra pharetra massa massa.</p>
    </div>
</section>
<section class="second_section">
    <h2 class="second_h2">ACTUALITÉ //</h2>
    <div class="categories">
        <div class="patch">
            <h3 class="second_h3">PATCH 12.7</h3>
        </div>
    
        <div class="lec">
            <h3 class="lec_h3">LEC SPRING SPLIT <span class="champion">CHAMPIONS</span></h3>
        </div>
      
        <div class="msi">
            <h3 class="msi_h3">MSI 2022</h3>
        </div>
    </div>
    
</section>
{% endblock %}
