<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        
        <title>Riot | {% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {# {{ encore_entry_link_tags('app') }} #}
        {% block stylesheets %}
            
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <header>
        {% block header %}
        {% endblock %}
        </header>
        <main>
        {% block main %}
        {% endblock %}
        </main>
    </body>
</html>
